.sidebar {
  width: 20%;
  background: #5a131c;
  height: 100vh;
  position: sticky;
  top: 0;
}
.sidebarWrapper {
  padding: 2rem;
  color: #555;
  height: 90%;
}
.sidebarMenu {
  margin-bottom: 10px;
  height: 100%;
}
.sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}
.sidebar__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.sidebarList {
  list-style: none;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.sidebarListItem {
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  font-family: sans-serif;
  margin-bottom: 50px;
  text-align: center;
  /* color: #fff; */
  font-size: 13px;
  text-decoration: none;
}
.sidebarList .active-link {
  color: orange;
}
a {
  text-decoration: none;
  color: #fff;
}
.sidebarIcon {
  margin-right: 20px;
  padding: 0;
  /* font-size: 30px !important; */
}
button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  margin-left: 40px;
  color: #fff;
  margin-top: 40px;
  font-size: 11px;
  cursor: pointer;
  padding-left: 6px;
}
button img {
  margin-right: 12px;
}
.sidebar_bg {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
