.footer {
  height: 59px;
  position: sticky;
  bottom: 0;
  background: red;
  color: black;
  width: 100%;
  background-color: rgb(219, 219, 219);
}
.footer p {
  font-family: sans-serif;
  text-align: center;
  padding-top: 30px;
}
@media (max-width: 768px) {
  .footer p {
    font-size: 13px;
  }
  
}
